header{
    background-color: #fafbfc;
    color: #191a22;
    border-bottom: 1px solid rgba(225, 0, 121, 0.2);
    height: 57px;
    display: flex;
    align-items: center;
    padding: 3em;
    padding-left: 0;
    font-size: 12px;
}